body, h3, legend {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
}

.container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.table-body{
    font-size: 0.9rem;
    text-align: center;
}
.table-body legend{
    margin-left: -150px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}
.table-body table td {
    font-size: 0.85rem;
}
.table-body ol{
    text-align: left;
    font-size: 0.85rem;
}
.logo img{
    width: 100%;
}